{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="">
        <input class="form-control rounded-pill" type="text" placeholder="Room name" id="room-name-input">
    </div>
    <div class="mt-2">
        <input class="form-control rounded-pill" type="text" placeholder="Username" id="username-input">
    </div>
    <div class="mt-2">
        <a class="btn btn-primary w-100 rounded-pill" id="room-name-submit">Join Room</a>
    </div>
<script src="{% static 'index.js' %}"></script>
{% endblock %}