{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h3 class="ms-2 text-muted text-capitalize">{{room_name}}</h3>
    <div style="border-radius: 30px;" class="border p-3">
      <div id="chat-messages" style="max-height: 400px; overflow-y: scroll;">
        {% for message in messages %}
        <b>{{ message.username }}</b>: {{ message.content }}<br>
        {% endfor %}
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-10">
        <input class="form-control rounded-pill" type="text" placeholder="Write something..." id="chat-message-input" required>
      </div>
      <div style="margin-left: -20px;" class="col-md-1">
        <a class="btn btn-primary rounded-pill" id="chat-message-submit">Send</a>
      </div>
    </div>
{{ room_name|json_script:"json-roomname" }}
{{ username|json_script:"json-username" }}
<script src="{% static 'room.js' %}"></script>
{% endblock %}
